/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F3F1FF
}


.container {
    display: flex;
    background-color: #2D25A0;
    width: 100%;
    height: 677px;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 556.01px;
    height: 438px;
    padding-left: 78px;
    padding-top: 25px;
    transition: width 1s ease-in, height 1s, transform 1s;
}

.container:hover img {
    transform: scale(1.3) rotate(-10deg);
}

.heading-contain {

    padding-top: 150px;
    padding-bottom: 240px;
}

.heading-contain h1 {
    font-weight: bold;
    font-size: 64px;
    color: white;

}

.heading-contain a {
    text-decoration: none;
    border: 1px solid #E02C6D;
    background-color: #E02C6D;
    color: white;
    padding: 5px 15px;

}


.secound-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    background-color: #F3F1FF;


}

.players {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    background-color: rgb(243, 243, 243);


}

.players img {
    width: 330px;
    height: 271px;
}

.player {
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 2px 2px rgb(228, 224, 224);
    padding: 15px 15px 15px 15px;
    width: 330px;
    height: 474px;
    background-color: #ffffff;


}

.player-info p {
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;


}



.video-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

.videos {
    display: flex;
}

.videos h1 {
    margin-right: 10%;
    font-size: 40px;
    color: rgba(128, 0, 128, 0.815);
}

.video {
    width: 560px;
    height: 315px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}





footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 63px;
    margin-top: 153px;
}

footer img {
    width: 483.87px;
    height: 110px;
}

.socail-icon {
    color: #969BAB;

}

.socail-icon i {
    Width: 17.07px;
    Height: 17.07px;
}



/* media query */

/* mobile device  */
@media only screen and (max-width:688px) {
    main {
        max-width: 100%;
        overflow: hidden;
    }

    .container {
        overflow: hidden;
        padding-top: 112px;
        max-width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 10px;
    }

    .heading-contain {
        margin-top: -90%;

    }

    .container h1 {
        font-size: 35px;

    }

    .container img {
        margin-top: -35%;

        margin-left: -10%;
        width: 200px;
        height: 150.17px;


    }

    .secound-container {
        max-width: 100%;
    }

    .players {

        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .player {
        width: 230px;
        height: 374px;
    }

    .players img {
        width: 230px;
        height: 156px;
    }

    .videos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .videos h1 {
        font-size: 20px;
        padding-left: 100px;
    }

    .video {
        display: flex;

        overflow: scroll;
        overflow-y: hidden;
        width: 30%;
        height: 20%;
    }


    footer {
        width: 100%;
    }

    footer img {
        width: 271px;
        height: 63px;
    }

}



/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
        padding-left: 10%;
    }

    .container h1 {
        font-size: 36px;

    }

    .container img {
        width: 329px;
        height: 259.17px;
    }

    .players {

        grid-template-columns: repeat(2, 1fr);
    }



}